!!! 5
%html{lang: "en"}
  %head
    - current_page.data.title = job[:title]
    - current_page.data.description = "Join our all-remote team at GitLab."
    - current_page.data.twitter_image = '/images/tweets/teamgitlab.jpg'
    = partial "includes/layout/head"
  %body.blank-body
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      .blank-header
        = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
        .header-content
          %h1= job[:title]
          %p Department: #{job[:departments].first[:name]}
          %a.btn.cta-btn.orange{ href: "https://boards.greenhouse.io/gitlab/jobs/#{job[:id]}", target: "_blank" } Apply now
      .gitlab-content-container.listing-container
        .content.tile{id: 'job-listing'}
          .margin-bottom40
            = link_to "← Back to GitLab Jobs", "/jobs/"
          %h5= job[:location][:name]
          = CGI.unescapeHTML(job[:content]).html_safe
      = partial "includes/layout/footer"
